{% extends 'index.html' %}
{% include 'resources-tailwind-css.html' %}

{% block content %}

<head>
    <title>RapStarStyle - Home Page</title>
</head>

<body class="text-mono bg-white">
    {% include 'navbar.html' %}

    {% if messages %}
    {% for message in messages %}

    <div class="">
        {% if message.tags == "error" %}
        <div role="alert" class="w-80 m-auto mt-5 top-0 left-0 m-auto mt-5">
            <div class="bg-red-500 text-white font-bold rounded-t px-4 py-2 text-center">
                Holy Smokes!
            </div>
            <div class="border border-t-0 border-red-400 rounded-b bg-red-100 px-4 py-3 text-red-700 text-center">
                <p>{{ message }}</p>
            </div>
            {% else %}
            <div role="alert">
                <div class="bg-green-500 text-white font-bold rounded-t px-4 py-2">
                    Great!
                </div>
                <div class="border border-t-0 border-green-400 rounded-b bg-green-100 px-4 py-3 text-green-700">
                    <p>{{ message }}</p>
                </div>
            </div>
            {% endif %}
        </div>
    </div>
    {% endfor %}
    {% endif %}

    <div class="overflow-hidden bg-white py-24 sm:py-32">
        <div class="mx-auto max-w-7xl px-6 lg:px-8">
            <div
                class="mx-auto grid max-w-2xl grid-cols-1 gap-x-8 gap-y-16 sm:gap-y-20 lg:mx-0 lg:max-w-none lg:grid-cols-2">
                <div class="lg:pr-8 lg:pt-4">
                    <div class="lg:max-w-lg">
                        <p class="mt-2 text-3xl font-bold tracking-tight text-gray-900 sm:text-4xl">RapStarStyle
                        </p>
                        <p class="mt-6 text-lg leading-8 text-gray-600">Welcome to RapStarStyle. We are at your service,
                            search your favourite style and buy it online! <b>The best web app of shopping online that
                                exist is here!</b></p>
                    </div>
                </div>
                {% load static %}
                <img src="{% static 'images/homepage_image.png' %}" alt="Our Outfit Image"
                    class="w-[48rem] max-w-none rounded-xl shadow-xl ring-1 ring-gray-400/10 sm:w-[57rem] md:-ml-4 lg:-ml-0"
                    style="width: 30%;">
            </div>
        </div>
    </div>

    {% include 'footer.html' %}
</body>
{% endblock %}